
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.background-app {
  background-color: #2e78e2;
  height: 250px;
  display: flex;
}

.background-app img {
  margin: 13px auto;
}

.background-app .title {
  color: #fff;
  font-size: 2em;
}

.principal {
  display: inline;
  text-align: center;
  justify-content: center;
}

.title {
  text-align: center;
}